#titulo {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

#ppic {
    border-radius: 50%;
}

button {
    font-size: 25px;
    font-family: 'Acme', sans-serif;
    color: #AA88DF;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.hide{
    display:none;
}

p{
    font-size: 40px;
}

section{
    text-align: center;
}

.mainBtn{
    margin-top: 1%;
    margin-bottom: 1%;
}
